/* Estilo para el fondo del BorderPane */
.root {
    -fx-background-color: black;
}

@font-face {
    font-family: 'Press Start 2P Regular';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

.rainbow-label {
-fx-font-family: 'Press Start 2P Regular';
}

/* Fondo de toda la tabla */
.table-view {
    -fx-background-color: transparent;
}

/* Celdas */
.table-cell {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-border-color: transparent; /* Elimina líneas blancas */
    -fx-text-fill: white; /* Asegura que el texto sea visible */

}

/* Filas */
.table-row-cell {
    -fx-background-color: transparent;
        -fx-text-fill: white; /* Asegura que el texto sea visible */

}

/* Quitar el borde de las celdas para evitar líneas blancas */
.table-row-cell .table-cell {
    -fx-border-color: transparent;
}

/* Encabezados de las columnas */
.column-header {
    -fx-background-color: black !important; /* Fondo negro */
    -fx-text-fill: white !important; /* Texto blanco */
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 20px;
}

/* Asegurar que el texto dentro de los encabezados sea blanco */
.column-header .label {
    -fx-text-fill: white !important;
    -fx-font-weight: bold;
}

.timer-label {
    -fx-font-family: 'Press Start 2P Regular';
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

/*ESTILOS PARA LAS ALERTAS*/

/* Estilo para la ventana del alert */
.alert {
    -fx-background-color: #4b4b4b;
    -fx-border-color: #e4e4e4;
    -fx-border-width: 4px;
    -fx-padding: 20px;
}

/* Estilo para el header */
.alert-header {
    -fx-font-family: "Courier New";
    -fx-font-size: 18px;
    -fx-text-fill: #ffcc00; /* Color amarillo retro */
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

/* Estilo para el contenido */
.alert-content {
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* Color blanco retro */
    -fx-padding: 10px;
}

/*MAIN MENU VIEW*/

/* Estilo para los Labels */
#titleGame, #optionGame {
    -fx-font-family: 'Press Start 2P Regular';
    -fx-font-size: 20px;
}

#optionGame {
    -fx-text-fill:  #FF0000;
}

/* Estilo para los Botones */
#PlayButton, #ScoreButton, #ExitButton, #SalirButton, #DescargarDiplomaButton, #ReiniciarJuegoButton, #VolverButton {
    -fx-font-family: 'Press Start 2P Regular';
    -fx-font-size: 16px;
    -fx-background-color: #000000; /* Fondo negro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-padding: 10px;
    -fx-border-color: white; /* Borde blanco */
    -fx-border-width: 2px;
    -fx-transition: all 0.5s ease;
}

#PlayButton:hover, #ScoreButton:hover, #ExitButton:hover, #SalirButton:hover, #DescargarDiplomaButton:hover, #ReiniciarJuegoButton:hover, #VolverButton:hover  {
    -fx-background-color: #808080; /* Fondo gris */
    -fx-text-fill: black; /* Cambiar el color del texto al pasar el ratón */
}

#ScoretopLabel {
    -fx-font-family: 'Press Start 2P';
    -fx-text-fill: lime;

}

/* Estilo para la tabla LittleScoreTable */
#LittleScoreTable .column-header,
#LittleScoreTable .table-cell {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 10px; /* Tamaño de letra más pequeño */
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* Elimina líneas blancas */
    -fx-text-fill: white; /* Asegura que el texto sea visible */
}
}



